<% if (this.games) { %>
    <h3>Games (<% games.length %>)</h3>
    <ul class="list-unstyled">
        <% games.forEach(function(game) { %>
            <li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                <%= game._id %>
            </li>
        <% }); %>
    </ul>
<% } else { %>
    <h3>No games</h3>
<% } %>
