<% if (players) { %>
    <h3>Players (<%= players.length %>)</h3>
    <ul class="list-unstyled">
        <% players.forEach(function(player) { %>
            <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <%= player.firstname %> <%= player.lastname %>
            </li>
        <% }); %>
    </ul>
<% } else { %>
    <h3>No active players</h3>
<% } %>
