<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1 class="text-center">Welcome to blackjack</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <% include ./partials/game_list %>
            </div>
            <div class="col-md-6">
                <% include ./partials/player_list %>
            </div>
        </div>
    </div>
</body>
</html>
